process{
  container = 'barryd237/test:dev'
  containerOptions = '-B /mnt/c/Users/crtuser/rtp_workshop/rtp_workshop/'
}

params{
  input = "/mnt/c/Users/crtuser/rtp_workshop/rtp_workshop/test-datasets/fastq/*_{1,2}.fastq.gz"
}

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = '/mnt/c/Users/crtuser/rtp_workshop/rtp_workshop/containers'
